<% provide(:title, 'URL адреси компаній') %>
<h1>sessions#find_company</h1>
<p>Find me in app/views/sessions/find_company.html.erb</p>
<p>Адреси компаній для входу</p>

<table class="company">
  <% @companies_url.each do |company| %>
      <tr>
        <td><%= link_to login_url(subdomain: company + '.avciv'), login_url(subdomain: company + '.avciv') %><br><br></td>
      </tr>
  <% end %>
</table>